{{- with index .Values "secrets" "egov-filestore" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .name }}
  namespace: {{ .namespace }}
type: Opaque
stringData:
  awskey: {{ .awskey | quote }}
  awssecretkey: {{ .awssecretkey | quote }}
  azureaccountname: {{ .azureaccountname | quote }}
  azuresecretkey: {{ .azuresecretkey | quote }}
  minioaccesskey: {{ .minioaccesskey | quote }}
  miniosecretkey: {{ .miniosecretkey | quote }}
{{- end }}