{{- with index .Values "secrets" "egov-notification-mail" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .name }}
  namespace: {{ .namespace }}
type: Opaque
stringData:
  mailsenderusername: {{ .mailsenderusername | quote }}
  mailsenderpassword: {{ .mailsenderpassword | quote }}
  mailhost: {{ .mailhost | quote }}
{{- end }}