{{- with index .Values "secrets" "egov-location" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .name }}
  namespace: {{ .namespace }}
type: Opaque
stringData:
  gmapskey : {{ .gmapskey | quote }}
{{- end }}