{{- with index .Values "secrets" "egov-notification-sms" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .name }}
  namespace: {{ .namespace }}
type: Opaque
stringData:
  username: {{ .username | quote }}
  password: {{ .password | quote }}
  securekey: {{ .securekey | quote }}
{{- end }}