{{- with index .Values "secrets" "egov-filestore" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .name }}
  namespace: {{ .namespace }}
type: Opaque
data:
  awskey: {{ .awskey | quote | b64enc | quote }}
  awssecretkey: {{ .awssecretkey | quote | b64enc | quote }}
  azureaccountname: {{ .azureaccountname | quote | b64enc | quote }}
  azuresecretkey: {{ .azuresecretkey | quote | b64enc | quote }}
{{- end }}