{{- with index .Values "secrets" "egov-enc-service" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .name }}
  namespace: {{ .namespace }}
type: Opaque
data:
  master.password: {{ .master_password | quote | b64enc | quote }}
  master.salt: {{ .master_salt | quote | b64enc | quote }}
  master.initialvector: {{ .master_initialvector | quote | b64enc | quote }}  
{{- end }}