{{- with index .Values "secrets" "elasticsearch" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .name }}
  namespace: {{ .namespace }}
type: Opaque
stringData:
  username: {{ "elastic"  }}
  password: {{ .password | quote }}
{{- end }}