{{- with index .Values "secrets" "elasticsearch" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .name }}
  namespace: {{ .namespace }}
type: Opaque
data:
  username: {{ "elastic" | b64enc  }}
  password: {{ .password | quote | b64enc | quote }}
{{- end }}