{{- with index .Values "secrets" "git-sync" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .name }}
  namespace: {{ .namespace }}
type: Opaque
stringData:
  ssh: {{ .ssh | quote }}
  known_hosts: {{ .known_hosts | quote }}
{{- end }}
