{{- with index .Values "secrets" "git-sync" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .name }}
  namespace: {{ .namespace }}
type: Opaque
data:
  ssh: {{ .ssh | quote | b64enc | quote }}
  known_hosts: {{ .known_hosts | quote | b64enc | quote }}
{{- end }}
