{{- with index .Values "secrets" "oauth2-proxy" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .name }}
  namespace: {{ .namespace }}
type: Opaque
stringData:
  cookie-secret: {{ .cookieSecret | quote }}
  client-secret: {{ .clientSecret | quote }}
  client-id: {{ .clientID | quote }}
{{- end }}