{{- with index .Values "secrets" "oauth2-proxy" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .name }}
  namespace: {{ .namespace }}
type: Opaque
data:
  cookie-secret: {{ .cookieSecret | quote | b64enc | quote }}
  client-secret: {{ .clientSecret | quote | b64enc | quote }}
  client-id: {{ .clientID | quote | b64enc | quote }}
{{- end }}