# Common Labels
labels:
  app: "opencv"
  group: "backend"

# Ingress Configs
ingress:
  enabled: true
  context: "opencv"
  additionalAnnotations: |
    nginx.ingress.kubernetes.io/rewrite-target: /$1

healthChecks:
  enabled: false
  livenessProbePath: "/health"
  readinessProbePath: "/health"


# Container Configs
image:
  repository: "docker.io/venkatramireddyb/opencv"
  tag: "feature-4661-opencv-implementation-47c37e9fd0b1c51741ccfaa2ced94fc6579ccb1e"
  imagePullPolicy: Always
replicas: "1"
httpPort: 8000
memory_limits: 1.5G
memory_requests: 512Mi
cpu_limits: 3
env: |
  - name: DB_USER
    valueFrom:
      secretKeyRef:
        name: "db"
        key: "username"
  - name: DB_PASSWORD
    valueFrom:
      secretKeyRef:
        name: "db"
        key: "password"
  - name: DB_NAME
    valueFrom:
      configMapKeyRef:
        name: egov-config
        key: "db-name"
  - name: DB_HOST
    valueFrom:
      configMapKeyRef:
        name: egov-config
        key: "db-ip"
  - name: DB_PORT
    valueFrom:
      configMapKeyRef:
        name: egov-config
        key: "db-port"
  - name: FILESTORE_HOST
    valueFrom:
      configMapKeyRef:
        name: egov-service-host
        key: "egov-filestore"
  - name: FILESTORE_ENDPOINT
    value: "/filestore/v1/files"
