# Common Labels
labels:
  app: "opencv"
  group: "backend"

# Ingress Configs
ingress:
  enabled: true
  context: "opencv"

healthChecks:
  enabled: true
  livenessProbePath: "/health"
  readinessProbePath: "/health"

# Container Configs
image:
  repository: "docker.io/venkatramireddyb/opencv"
  tag: latest
  imagePullPolicy: Always
replicas: "1"
httpPort: 8080
appType: "java-spring"
java-args: "-Dspring.profiles.active=monitoring"
heap: "-Xmx256m -Xms256m"
debugPort: 5005
memory_limits: 512Mi
env: |
  - name: MANAGEMENT_HEALTH_REDIS_ENABLED
    value: "false"
  - name: JAVA_OPTS
    value: {{ index .Values "heap" | quote }}
  - name: JAVA_ARGS
    value: -Dspring.profiles.active=monitoring
  - name: SERVER_PORT
    value: "8080"
  - name: SERVER_CONTEXT_PATH
    value: /opencv
